@import url("https://fonts.googleapis.com/css2?family=Lato:wght@300;400;700;900&display=swap");
@import 'antd/dist/antd.css';

body {
  background-color: #0f3057;
  font-family: "Lato", sans-serif;
}

p {
  margin-top: 14px;
  margin-bottom: 1em;
}

h1, h2, h3, h4, h5, h6 {
  margin-top: 0;
  margin-bottom: 0.5em;
  color: white;
  font-weight: 900;
}

.vector {
  position: static;
  left: 40%;
  z-index: 1;
}

.container {
  position: absolute;
  width: 100%;
  height: 100%;
  left: 0px;
  top: 0px;
  background-repeat: no-repeat;

  background-image: url(./assets/imageFriends.jpg);
}

.containerInfo {
  position: absolute;
  width: 1117px;
  height: 1117px;
  left: 132px;
  top: 700px;

  background: radial-gradient(
    50% 50% at 50% 50%,
    rgba(0, 0, 0, 0.8) 0%,
    rgba(143, 32, 230, 0.296) 0.01%,
    rgba(255, 91, 199, 0.152) 52.08%,
    rgba(196, 196, 196, 0) 100%
  );
  opacity: 0.7;
}

@media screen and (max-width: 768px) {
  .containerInfo {
    position: absolute;
    width: 496px;
    height: 524px;
    /* left: 132px; */
    top: 700px;

    background: radial-gradient(
      50% 50% at 50% 50%,
      rgba(0, 0, 0, 0.8) 0%,
      rgba(143, 32, 230, 0.296) 0.01%,
      rgba(255, 91, 199, 0.152) 52.08%,
      rgba(196, 196, 196, 0) 100%
    );
    opacity: 0.7;
  }
}

@media screen and (max-width: 375px) {
  .containerInfo {
    position: absolute;
    width: 232px;
    height: 376px;
    left: 126px;
    top: 700px;
    background: radial-gradient(
      53% 63% at 49% 66%,
      rgba(0, 0, 0, 0.8) 0%,
      rgba(143, 32, 230, 0.296) 0.01%,
      rgba(255, 91, 199, 0.152) 52.08%,
      rgba(196, 196, 196, 0) 100%
    );
    opacity: 0.7;
  }
}

.cointainer-vector {
  position: absolute;
  width: 50%;
  height: 453vh;
  left: 27%;
  top: 85%;

  background-repeat: no-repeat;
  background-image: url(./assets/vectorCurvo.png);
}

@media screen and (max-width: 768px) {
  .cointainer-vector {
    position: absolute;
    width: 63%;
    height: 500vh;
    left: 18%;
    top: 85%;
    background-repeat: no-repeat;
    background-image: url(/src/assets/vectorCurvo.png);
    z-index: -1;
  }
}

@media screen and (max-width: 375px) {
  .cointainer-vector {
    position: absolute;
    width: 101%;
    height: 500vh;
    left: -1%;
    top: 85%;
    background-repeat: no-repeat;
    background-image: url(/src/assets/vectorCurvo.png);
    z-index: -1;
  }
}

.contenidoBallena {
  display: flex;
  flex-direction: row;
  background-color: #0f3057;
  position: absolute;
  width: 92%;
  height: 77%;
  left: 48px;
  top: 1900px;
  border-radius: 0.5rem;
}

.StarsContainer {
  position: absolute;
  width: 1247px;
  height: 624.25px;
  left: 48px;
  top: 2970px;
}

.swiperConatiner {
  position: absolute;
  width: 80%;
  margin: 0;
  /* height: 714.25px; */
  left: 150px;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  gap: 2rem;
  top: 3203px;
}

.swiper-wrapper {
  position: relative;
  width: 100%;
  height: 16rem;
  z-index: 1;
  display: flex;
  transition-property: transform;
  box-sizing: content-box;
}

.ant-card-meta-description {
  color: white;
}

.ant-card-meta-title {
  overflow: hidden;
  color: white;
  font-weight: 500;
  font-size: 16px;
  white-space: nowrap;
  text-overflow: ellipsis;
}

.swiper-pagination-bullet {
  width: var(--swiper-pagination-bullet-width,var(--swiper-pagination-bullet-size,8px));
  height: var(--swiper-pagination-bullet-height,var(--swiper-pagination-bullet-size,8px));
  display: inline-block;
  border-radius: 50%;
  background: white;
  opacity: var(--swiper-pagination-bullet-inactive-opacity, 1.2);
}

.swiper-pagination-bullet-active {
  opacity: var(--swiper-pagination-bullet-opacity, 1);
  background: var(--swiper-pagination-color, rgb(112, 112, 112));
  width: var(--swiper-pagination-bullet-width,var(--swiper-pagination-bullet-size,15px));
  height: var(--swiper-pagination-bullet-height,var(--swiper-pagination-bullet-size,8px));
  border-radius: 40%;
}


