.title {
  position: absolute;
  width: 588px;
  height: 237px;
  left: 63px;
  top: 250px;
  font-style: normal;
  font-weight: 800;
  font-size: 5.5rem;
  line-height: 82%;
  /* or 79px */

  letter-spacing: -0.02em;

  color: #ffffff;

  opacity: 0.7;
}

@media screen and (max-width: 768px) {
  .title {
    font-size: 4rem;
  } 
}

@media screen and (max-width: 390px) {
  .title {
    width: 23rem;
    font-size: 3rem;
    left: .5rem;
    margin-top: 5rem;
  } 
}
